

.navbar-cabeza{   
    background: #FFD20A;
    border-radius:  13px;  
}

.navbar-navdropdown{
  background-color: #FFD20A;
}

.navbar-navdropdown-item{
    background-color: #FFD20A;
}

.navbar-menu{
    display: flex;
   gap: 3px;
    align-items: center;
    justify-content: center;
    
}

/* Solo aparece en modo inspeccionar */
.dropdown-menu {
    background-color: #FFD20A;
}